@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');



body { 
  font-family: 'Outfit', sans-serif;
  background-color: skyblue;
  margin: -4px;

}

#modelimg{   
  height: 200px;
}
.modelAlign{
  display: flex;
  justify-content: center;
  overflow-x: scroll;

}
h2{
   font-size: 50px;
   text-align: center;
   margin-left: 330px;

}
h3{
  text-align: center;
  text-transform: uppercase;
  color: rgb(92, 15, 15);

}

#labelbtn{
  border-radius: 25px;
  color: white;
  padding:10px 20px 10px 20px ;
  border: none;
}

.formfields {
  height: 90px;
}

p{
  
font-family: 'Montserrat', sans-serif;
}

.scrolling{
  overflow: scroll;
}
.nav-item{
    font-size: 18px;
}
